[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
isort = "*"
kittencorner = {file = "../kitten-corner/dist/KittenCorner-0.1.tar.gz"}
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
